%h1 Listing users

%table
  %tr
    %th Tid
    %th Img
    %th Token
    %th Lastupdate
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.tid
      %td= user.img
      %td= user.token
      %td= user.lastUpdate
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
